{{#each workouts as |workout|}}
  {{log workout}}

<div class="workout" data-id="{{workout.id}}">
  <h1> <small>Date: {{ workout.date }}</small> </h1>
  <br>
  <ul>
    <h2>Workout Stats</h2>
      <li>Total Workout Time: {{workout.elapsed_time}}</li>
      <li>Average Watts: {{workout.average_watts}}</li>
      <li>Average Heart Rate(bpm): {{workout.average_hr}}</li>
  </ul>
  <ul>
    <h2>Workout Notes</h2>
      <li>Reported Pre-Workout Fatigue (1-10): {{workout.pre_fatigue}}</li>
      <li>Reported Post-Workout Fatigue (1-10): {{workout.post_fatigue}}</li>
      <li>Notes: {{workout.notes}}</li>
  </ul>
  <form data-id="{{workout.id}}" class="update-form">
    <p>Update notes in field below</p>
    <button type="submit" class="update-button btn btn-secondary btn-sm"> Update Notes </button>
    <br>
    <br>
    <input type="text" class="form-control form-control-sm" name="workout[notes]" placeholder="Update Notes Here">
  </form>
  <br>
  <div class="delete-workout-button">
    <button type="button" class="btn btn-secondary btn-sm" data-id="{{workout.id}}">Delete Workout</button>
  </div>

  <hr>
</div>

{{/each}}
